@media all and (max-width:1600px) {
    .container {
        max-width: 1300px;
    }

    .button {
        font-size: 14px;
    }


}

@media all and (max-width:1440px) {
    .main-container {
        padding: 100px 0 40px;
    }


}

@media all and (max-width:1366px) {}


@media all and (max-width:1200px) {
    .container {
        max-width: 960px;
    }

    .comm-section {
        padding: 40px 0;
    }


}

@media all and (max-width:990px) {
    :root {
        --input-height: 45px;
    }

    .main-container {
        padding: 85px 0 41px;
    }

    .container {
        max-width: 800px;
    }

    .button {
        font-size: 14px;
        height: 45px;
        line-height: 45px;
    }


}

@media all and (max-width:768px) {
    .container {
        max-width: 100%;
    }




}

@media all and (max-width:640px) {
    .comm-section {
        padding: 24px 0;
    }

}

@media all and (max-width:576px) {}

@media all and (max-width:480px) {}

@media all and (max-width:400px) {}

@media all and (max-width:359px) {}